<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApplicationHelper</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="header-container">
            ApplicationHelper
        </div>
    </header>
    <div class="container">
        <main role="main"">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-container">
            &copy; 2025 - ApplicationHelper
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
